<!--TODO: Retrieve (retrieve all and eager loading) and insert data from the database.-->
<!--TODO: 7. Create searchDB.html. This partial is similar to the DMS SearchDB and should show: employee no, employee
 TODO: first name, employee last name, department ID, and department name. Similar to DMS it should have 2 buttons:
TODO: REQUIREMENTS:
 TODO: 7a first button: retrieve employee whose employee number, first name, or last name matches query string
 TODO: 7b second button: also retrieve employee's current department's ID and name
  TODO: 7c page is initialized with employee number, first name, or last name  of first 100 employee records
 -->
<div class="container" ng-controller= ???? >

    <div class="page-header">
        <h1>Employee Management System
            <small>SearchDB</small>
        </h1>
    </div>

    <!--Form for query string-->
    <form name="queryForm" novalidate class="form-inline">
    </form>
    <hr>
    <!--Table for results-->
    <table class="table table-striped">
        <thead>
        <tr>

        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>